<tr>
  <td class = 'view'>
    <span data-bind = 'text:title'></span>
    <input class = 'edit form-control', data-bind = 'value:title, events:["keyup"]'></input>
  </td>
  <td class = 'view'>
    <span data-bind = 'text:author'></span>
    <input class = 'edit form-control', data-bind = 'value:author, events:["keyup"]'></input>
  </td>
  <td class = 'view'>
    <span data-bind = 'text:genre'></span>
    <input class = 'edit form-control', data-bind = 'value:genre, events:["keyup"]' ></input>
  </td>
  <td class = 'destroy'>&times;</td>
</tr>
