td.view
  div <%- title %>
  <input class='edit title form-control' data-id='title' value='<%- title %>'></input>
td.view
  div <%- author %>
  <input class='edit author form-control' data-id='author' value='<%- author %>'></input>
td.view
  div <%- genre %>
  <input class='edit genre form-control' data-id='genre' value='<%- genre %>'></input>
td.destroy &times;
