// bower:scss
@import 'bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
// endbower

// CONTAINER --------
.container{
  margin: 0 auto;
  width: 1100px;
}

.main{
  display: inline-block;
  vertical-align: top;
}

// __________________________/ CONTENT \
//                           \ BLOCK   /

#mainBlock{
  padding: 0px;
  width: 800px;
  margin-top: 20px;
}
// inputBlock and include content (input) -------------------------INPUT_INPUT
#inputBlock{
  width: inherit;
  position: relative;
}

#inputBlock div{
  display: inline-block;
  vertical-align: top;
}

#inputSongBlock{
  width: 580px;
  height: 60px;
}

#inputSongBlock input{
  display: inline-block;
  width: 170px;
  margin-left: 12px;
  margin-top: 15px;
}

#inputBlockButtons{
  position: relative;
  width: 200px;
  height: 60px;
  margin-left: 10px;
}

// inputBlock and include content (buttons) -------------------------INPUT_BUTTONS
#inputBlockButtons button{
  position: absolute;
  width: 90px;
  height: 40px;
  margin-top: 10px;
  outline: none;
}

#delAllBut{
  margin-left: 100px;
}

// filterBlock and include content (filter input) -------------------------FILTER_INPUT

#filterBlock{
  width: inherit;
  height: 60px;
}

#filterBlock div{
  display: inline-block;
  vertical-align: top;
}

#inputFilterBlock{
  width: 580px;
  height: 60px;
}

#inputFilterBlock input{
  display: inline-block;
  margin-left: 12px;
  margin-top: 15px;
  width: 170px;
}

// filterBlock and include content (buttons) -------------------------FILTER_BUTTON

#filterBlockBut{
  position: relative;
}

#filterBlockBut button{
  position: absolute;
  width: 90px;
  height: 40px;
  margin-top: 10px;
  outline: none;
}

#filterBut{
  margin-left: 10px;
}

#resetBut{
  margin-left: 110px;
}

// listBlock and include content (title block) --------------------------LIST_TITLE

#listBlock{
  width: inherit;
  min-height: 83px;
}

.listTitleBlock{
  border-bottom: 1px solid gray;
  width: inherit;
  height: 40px;
  margin-top: 5px;
}

.listTitleBlock p{
  display: inline-block;
  width: 248px;
  text-align: center;
  font-size: 20px;
}

// listBlock and include content (content block) --------------------------LIST_CONTENT
.listContentBlock{
  border-collapse: collapse;
  table-layout: fixed;
}

.listContentBlock td{
  text-align: center;
  font-size: 18px;
  color: #555555;
}

.view{
  width: 165px;
}

.listContentBlock .destroy, .listContentBlock .destroy button{
  width: 33px;
}

.destroy{
  width: 30px;
  font-size: 20px;
  opacity: 0.5;
  cursor: pointer;
  &:hover{
    opacity: 1;
    color: #6A140B;
  }
}


.filtered{
  display: none;
}

.edit{
  display: none;
}

.editing .edit{
  display: block;
  width: 230px;
  height: 25px;
  border-color: gray;
  box-shadow: none;
}

.editing div{
  display: none;
}

.table{
  margin-bottom: 0px;
}

//alert blocks ------------------ALERT

#inputBlock #alertWarn{
  display: none;
  position: absolute;
  left: 378px;
  top: 4px;
  width: 200px;
}

.WarningMes{
  padding-left: 6px;
}

#filterBlockBut #alertFilter{
  position: absolute;
  left: -14px;
  margin-top: 12px;
  font-size: 20px;
  width: 17px;
  padding: 5px;
  height: 37px;
}

// __________________________/ ROUTE   \
//                           \ BLOCK   /

#routeModule{
  width: 230px;
  padding: 0px;
  margin-top: 20px;
  margin-left: 30px;
}

#routeModule p{
  padding-left: 15px;
  padding-top: 7px;
}

.routeMessage{
  display: block;
}

.routeElement{
  position: relative;
  display: none;
}
