extends layouts/default

block content
  #mainBlock.main.jumbotron
    #inputBlock
      #alertWarn.alert.alert-warning.fade
        a.close(href = '#' arial-label = 'close') &times;
        strong Warning!
        span.WarningMes mytext
      #inputSongBlock
        input#songTitle.form-control(placeholder = 'add song title')
        input#songAuthor.form-control(placeholder = 'add song author')
        input#songGenre.form-control(placeholder = 'add song genre')
      #inputBlockButtons
        button#addBut.btn.btn-primary add song
        button#delAllBut.btn.btn-danger clear list
    #filterBlock
      #inputFilterBlock
        input#titleFilter.form-control(placeholder = 'title filter')
        input#authorFilter.form-control(placeholder = 'author filter')
        input#genreFilter.form-control(placeholder = 'genre filter')
      #filterBlockBut
        #alertFilter.alert.alert-warning.fade
          strong !
        button#filterBut.btn.btn-primary filter
        button#resetBut.btn.btn-warning reset
    #listBlock
      .listTitleBlock
        p title
        p author
        p genre
      table.listContentBlock.table.table-striped.table-bordered
        tbody.table.table-striped(data-bind = 'collection:$collection')
