doctype html
html.no-js
  head
    meta(charset='utf-8')
    title My Webapp
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon' href='apple-touch-icon.png')
    link(rel='stylesheet' href='styles/main.css')

  body

    .container
      block content

    script(src='../bower_components/jquery/dist/jquery.js')
    script(src='../bower_components/modernizr/modernizr.js')
    script(src='scripts/main.js')
