doctype html
html.no-js
  head
    meta(charset='utf-8')
    title web-list
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='apple-touch-icon' href='apple-touch-icon.png')
    // Place favicon.ico and apple-touch-icon.png in the root directory

    // build:css styles/main.css
    link(rel='stylesheet' href='styles/main.css')
    // endbuild

  body
    | <!--[if lt IE 10]>
    |   <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    | <![endif]-->

    .container

      block content

    //build:modernizr
    script(src='../bower_components/modernizr/modernizr.js')
    //endbuild

    //build:require
    script(data-main='scripts/main' src='../bower_components/requirejs/require.js')
    //endbuild
